.container{
    margin-top: 100px;
    max-width: 940px;
    padding: 15px;
    width: 90%;
}

.container-form-control{
    border: none;
    box-shadow: 3px 3px 13px 1px rgb(0 0 0/15%);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.funcion{
    width: 150px;
    margin: 20px auto;
    display: flex;
    justify-content: center; 
}

.resultado{
    display: flex;
    justify-content: center; 
    align-content: center;
}

.container form  label {
    padding: 10px ;
    font-weight: bold;
}

.tittle h1{
    font-size: 80px;
}

span{
    margin: 0 5px;
    font-weight: bold;
}

button{
    transition: .3s ease;
}

button:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

